@import "../../theme.scss";

.InputOptionSelect {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.InputOptionSelectLabel {
  margin-top: 2%;
  margin-bottom: 2%;
}

.InputOptionSelectOptions {
  display: flex;
  margin-top: 2%;
  justify-content: center;
}

.InputOptionSelectOptionsButton {
  margin-right: 10px;
  height: 40px;
  min-width: 35px;
  background-color: $gray;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.InputOptionSelectOptionsActive {
  background-color: $pink;
}
