@import "../../theme.scss";

.InputOptionSelect {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.InputOptionSelectLabel {
  margin-bottom: 8px;
}

.InputOptionSelectOptions {
  display: flex;
}

.InputOptionSelectOptionsButton {
  margin-right: 5px;
  padding: 0px 15px;
  height: 40px;
  min-width: 35px;
  background-color: $gray;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
}

.InputOptionSelectOptionsActive {
  background-color: $pink;
}
