.StepperContainer{
  margin-bottom: 25px;
  margin-top: 15px;
}

.StepperIndicators{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8px;
  
    span {
      padding: 0px 1px 0px 1px;
    }
  }
  
.StepperTitles{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 8px;

  span {
    padding: 0px 5px 0px 6px;
  }
}

.Icon{
  font-size: 20px;
}
.IconTransparent {
  color: transparent;
}