@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
	background  : #282c34 !important;
	font-family : 'Open Sans', sans-serif!important;
}
.button-404 {
	border-radius : 2rem !important;
	color         : #eae3e3 !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

// input {
// 	background : #ffffff91!important;
// }

// .MuiButton-contained {
//     text-transform: initial!important;
// }

// .MuiPaper-rounded {
//     border-radius: 15px!important;
// }

// .MuiDropzoneArea-root  {
// 	background   : #f4fcff;
// 	border-color : #aad3e3;
// }
// button {
//     text-transform: initial!important;
// }

// #nprogress .bar {
// 	height     : 4px;
// 	z-index    : 1500;
// 	background : #ff6161;
// }

// #nprogress .peg {
// 	box-shadow: 0 0 15px #ff6161, 0 0 10px #ff6161;
// }

// #nprogress .spinner {
// 	z-index : 1500;
// 	width   : 20px;
// 	height  : 20px;
// }

// #nprogress .spinner-icon {
// 	border-top-color  : #ff6161;
// 	border-left-color : #ff6161;
// 	z-index           : 1500;
// }