@import '../../theme.scss';

.PaymentsDates{
    margin-top: 20px;
}

.PaymentsDatesHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
        text-align: center;
    }
}

.PaymentsDatesItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}