@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
	font-family : 'Open Sans', sans-serif!important;
	margin: 0;
	padding: 0;
}

.appLayout{
  min-height: 100vh;
}

.appHeader{
  position: 'fixed';
  z-index: 1;
  width: '100%';
}

.appSiteLayoutBackground {
  margin: 20px;
  padding: 24px;
  min-height: 360px;
  background: #ffffff;
}

.appFooter{
  text-align: center;
}