.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.appBar {
  .navlink {
    display: flex;
    width: 100%;
    flex-direction: end;
    text-align: end;
  }
  .toolbar {
    height: 100%;
  }
}
