.AccountData {
  display: flex;
  align-items: center;
}

.AccountPublicData {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Loading {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}