@import '../../theme.scss';

.RegisterUser{
    background-color: $blue-strong;
    height: 100%;
    width: 100%;
}
.RegisterUserContent{
    margin: 0px 20px 0px 57px;
}
.RegisterUserContract{
    color: white;
}